extends ../layout

block content

  form(action='/', method='post')

    if entry
      input.span12(type='text', name='title', placeholder='Title', value=entry.title, readonly="readonly")
    else
      input.span12(type='text', name='title', placeholder='Title')

    if entry
      textarea.span12(name='body', rows=20)= entry.body
    else
      textarea.span12(name='body', rows=20)

    input.btn(type="submit", value='Save')
